<nav class="navbar" id="main-container">
    <div class="menu">
        <ul class="menu-content">
            <li class="onglet-titre">
                <a href="?page=accueil">
                    <span class="material-symbols-outlined"><img class="logo" alt="home" src="assets/img/home.png" /></span><span class="titre">OneManga</span></a
                >
            </li>
            <li>
                <a href="?page=seinen">
                    <span class="material-symbols-outlined"><img class="logo" alt="pegi18" src="assets/img/480px-Moins18.svg-removebg-preview.png" /></span><span>Seinen</span></a
                >
            </li>
            <li>
                <a href="?page=shonen">
                    <span class="material-symbols-outlined"><img class="logo" alt="unnamed-removebg-preview" src="assets/img/unnamed-removebg-preview.png" /></span><span>Shōnen</span></a
                >
            </li>
            <li>
                <a href="?page=shojo">
                    <span class="material-symbols-outlined"><img class="logo" alt="shojo" src="assets/img/shojo.png" /></span><span>Shōjo</span></a
                >
            </li>
            <li>
                <a href="?page=isekai">
                    <span class="material-symbols-outlined"><img class="logo" alt="NerveGear-removebg-preview" src="assets/img/NerveGear-removebg-preview.png" /></span><span>Isekai</span></a
                >
            </li>
            <li>
                <a href="?page=romance">
                    <span class="material-symbols-outlined"><img class="logo" alt="romance" src="assets/img/romance-removebg-preview.png" /></span><span>Romance</span></a
                >
            </li>
            <li>
                <a href="?page=fantasy">
                    <span class="material-symbols-outlined"><img class="logo" alt="fantasy" src="assets/img/fantasy.png" /></span><span>Fantasy</span></a
                >
            </li>
            <li class="onglet-shop">
                <a href="?page=shop">
                    <span class="material-symbols-outlined"><img class="logo" alt="shop" src="assets/img/shop.png" /></span><span>Shop</span></a
                >
            </li>
            <li class="onglet-forum">
                <a href="?page=forum">
                    <span class="material-symbols-outlined"><img class="logo" alt="forum" src="assets/img/forum.png" /></span><span>Forum</span></a
                >
            </li>
            <li class="onglet-settings">
                <a href="?page=parametre">
                    <span class="material-symbols-outlined"><img class="logo" alt="settings" src="assets/img/settings.png" /></span><span>Paramètres</span></a
                >
            </li>
        </ul>
    </div>
</nav>
